@import "tailwindcss";

::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

